.container-jumbtron{
    width: 100%;
    height: 100vh;
    background-image: url("../assets/About/jumboUp.png");
    background-size: cover;
    background-position: center;
}

.jumbo{
    display: flex;
    justify-content: center;
}

.jumbo #borders{
    width: 100%;
    height: auto;
    top: 590px;
    position: absolute;
    z-index: 0;
}

.jumbo #header{
    margin: 20px;
    position: absolute;
    width: 450px;
    top: 530px;
}

.jumbo #kata{
    position: absolute;
    width: 450px;
    top: 670px;
}

.yori-card{

    display: flex;
    /* align-items: start; */
}

#yori{
    position: absolute;
    top: 600px;
    left: 250px;
    width: 100px;
}

#yuna{
    position: absolute;
    top: 600px;
    width: 100px;
    right: 250px;
}

.container-isi{
    width: 100%;
    height: 800px;
    background-image: url("../assets/About/wallpaper.png");
    background-size: cover;
    background-position: center;
}

.container-isi #gam1{
    position: absolute;
    margin-top: 35vw;
    width: 35vw;
    margin-left: 100vh;
}

.container-isi #wrapIsi .gambar11{
    margin-top: 31vw;
    margin-left: 33vh;
    position: absolute;
    width: 35vw;
    height: 30vh;
    border: solid 7px;
    border-radius: 20px;
    border-color: #2D6895;
    background-color: #fff;
    /* opacity: 30%; */
}

.container-isi #wrapIsi .gambar11 h1{
    margin-left: 7vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.container-isi #wrapIsi .gambar11 p{
    margin-top: 4vh;
    text-align: center;
}

.container-isi #gam2{
    position: absolute;
    margin-top: 250px;
    margin-left: 250px;
    z-index: 1;
    width: 440px;
}

.container-isi #gam21{
    position: absolute;
    margin-top: 265px;
    margin-left: 500px;
    width: 600px;
}