.container-jumbtron{
    width: 100%;
    height: 100vh;
    background-image: url("../assets/About/jumboUp.png");
    background-size: cover;
    background-position: center;
}

.jumbo{
    display: flex;
    justify-content: center;
}

.jumbo #borders{
    width: 100%;
    height: auto;
    top: 590px;
    position: absolute;
    z-index: 0;
}

.jumbo #header{
    margin: 20px;
    position: absolute;
    width: 450px;
    top: 530px;
}

.jumbo #kata{
    position: absolute;
    width: 450px;
    top: 670px;
}

.yori-card{

    display: flex;
    /* align-items: start; */
}

#yori{
    position: absolute;
    top: 600px;
    left: 250px;
    width: 100px;
}

#yuna{
    position: absolute;
    top: 600px;
    width: 100px;
    right: 250px;
}

.container-isi{
    width: 100%;
    height: 800px;
    background-image: url("../assets/About/wallpaper.png");
    background-size: cover;
    background-position: center;
}

.container-isi #gam1{
    position: absolute;
    margin-top: 35vw;
    width: 35vw;
    margin-left: 100vh;
}

.container-isi #wrapIsi .gambar11{
    margin-top: 80vh;
    margin-left: 15vw;
    position: absolute;
    width: 35vw;
    height: 30vh;
    border: solid 7px;
    border-radius: 20px;
    border-color: #2D6895;
    background-color: #fff;
    /* opacity: 30%; */
}

.container-isi #wrapIsi .gambar11 h1{
    margin-left: 7vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.container-isi #wrapIsi .gambar11 p{
    margin-top: 4vh;
    text-align: center;
}

.container-isi #gam2{
    position: absolute;
    margin-top: 250px;
    margin-left: 250px;
    z-index: 1;
    width: 440px;
}

.container-isi #wrapIsi2 .gambar21{
    margin-top: 47vh;
    margin-left: 48vw;
    position: absolute;
    width: 35vw;
    height: 30vh;
    background-color: #CDF2FA;
}

.container-isi #wrapIsi2 .gambar21 h1{
    margin-left: 8vw;
    margin-top: 7vh;
    margin-bottom: 3vh;
}

.container-isi #wrapIsi2 .gambar21 p{
    margin-left: 9vw;
    width: 20vw;
    text-align: center;
}

.container-isi #gam3{
    position: absolute;
    margin-top: 10vw;
    width: 30vw;
    margin-left: 25vh;
}

.container-isi #gam4{
    position: absolute;
    margin-top: 10vw;
    width: 30vw;
    right: 25vh;
}

.container-isi #gam5{

    /* display: none; */
    position: absolute;
    margin-top: 20vw;
    width: 7vw;
    margin-left: 15vh;
}

.container-isi #gam6{
    /* display: none; */
    position: absolute;
    margin-top: 20vw;
    width: 7vw;
    right: 15vh;
}

.container-isi #wrapIsi3 .gambar31{
    margin-top: 22vw;
    margin-left: 70vh;
    position: absolute;
    width: 30vw;
    height: 30vh;
    border: solid 7px;
    border-radius: 20px;
    border-color: #2D6895;
    background-color: #fff;
    /* opacity: 30%; */
}


.container-isi #wrapIsi3 .gambar31 h1{
    text-align: center;
    margin-top: 5vh;
    font-size: 25px;
}


.container-isi #wrapIsi3 .gambar31 p{
    text-align: center;
    margin-top: 3vh;
    width: 27vw;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 14px;
}

@media only screen and (max-width: 395px){
    .container-jumbtron{
        /* width: calc(100% + 0vw); */
        height: 60vh;
    }

    .jumbo #borders{
        top: 55%;
        height: 10%;
    }

    .jumbo #header{
        width: 90% !important;
        margin-top: -30% !important;
    }

    .jumbo #kata{
        top: 57%;
        width: 80% !important;
    }
    #yori,#yuna{
        display: none;
    }

    .container-isi #gam1{
        margin-top: 50% !important;
        width: 70% !important;
        margin-left: 15% !important;
        margin-right: 15% !important;
    }

    .container-isi #wrapIsi .gambar11{
        /* display: none; */

        margin-left: 12% !important;
        margin-top: 95% !important;
        width: 75% !important;
        height: 25% !important;
    }

    .container-isi #wrapIsi .gambar11 h1{
        text-align: center;
        margin-left: 5% !important;
        margin-bottom: 2% !important;
        font-size:130% !important;
    }

    .container-isi #wrapIsi .gambar11 p{
        margin-top: 5%;
        margin-left: 3%;
        margin-right: 3%;
        font-size:100% !important;
    }

    .container-isi #gam2{
        margin-left: 10%;
        margin-top: 0;
        width: 80% !important;
    }

    .container-isi #wrapIsi2 .gambar21{
        /* display: none; */
        width: 70%;
        height: 40% !important;
        margin-top: 60% !important;
        margin-left: 18% !important;
    }

    .container-isi #wrapIsi2 .gambar21 h1{
        font-size: 200% !important;
        margin-left: 10% !important;
        margin-bottom: 10% !important;
    }

    .container-isi #gam3{
        margin-left: 10% !important;
        width: 60% !important;
    }

    .container-isi #gam4{
        margin-top: 120%;
        margin-right: 10% !important;
        width: 60% !important;
        z-index: 100;
    }
    .container-isi #gam5 , .container-isi #gam6{
        display: none;
    }

    .container-isi #wrapIsi3 .gambar31{
        width: 70% !important;
        height: 40% !important;
        margin-top: 40% !important;
        margin-left: 15% !important;
    }

    .container-isi #wrapIsi3 .gambar31 h1{
        font-size: 30px !important;
    }

}

@media only screen and (max-width: 1040px){
    .container-jumbtron{
        width: calc(100% + 0vw);
        height: 60vh; 
    }

    .jumbo #borders{
        top: 54%;
    }

    .jumbo #header{
        width: 60%;
        margin-top: 12%;
    }

    .jumbo #kata{
        top: 57%;
        width: 60%;
    }
    #yori,#yuna{
        margin-top: 15%;
    }

    #yori{
        left: 10%;
    }

    #yuna{
        right: 10%;
    }

    .container-isi #gam1{
        margin-top: 20%;
        margin-left: 25%;
        width: 55%;
    }

    .container-isi #wrapIsi .gambar11{
        /* display: none; */
        margin-top: 55%;
        margin-left: 30%;
        width: 45%;
        height: 20%;
    }

    .container-isi #wrapIsi .gambar11 h1{
        margin-left: 12%;
        margin-top: 10%;
        margin-bottom: 0;
        font-size: 200%;
    }

    .container-isi #wrapIsi .gambar11 p{
        margin-top: 10%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 140%;
    }

    .container-isi #gam2{
        margin-top: 20%;
        width: 55%;
    }

    .container-isi #wrapIsi2 .gambar21{
        /* display: none; */
        margin-left: 43%;
        margin-top: 45%;
        height: 23%;
    }

    .container-isi #wrapIsi2 .gambar21 h1{
        margin-left: 10%;
        margin-right: 5%;
        font-size: 200%;
        margin-bottom: 5%;
    }

    .container-isi #wrapIsi2 .gambar21 p{
        margin-left: 10%;
        width: 80%;
        margin-right: 10%;
        font-size: 120%;
        margin-top: 0;
    }

    .container-isi #gam3{
        width: 35%;
        margin-left: 15%;
    }

    .container-isi #gam4{
        width: 35%;
        right: 0;
        margin-right: 15%;
    }

    .container-isi #gam5{
        margin-left: 10%;   
    }

    .container-isi #gam6{
        right: 0;
        margin-right: 10%;
    }

    .container-isi #wrapIsi3 .gambar31{
        /* display: none; */
        margin-top: 32%;
        margin-left: 25%;
        width: 50%;
        height: 20%;
    }

    .container-isi #wrapIsi3 .gambar31 h1{
        margin-top: 10%;
        font-size: 40px;
    }

    .container-isi #wrapIsi3 .gambar31 p{
        margin-left: 2%;
        margin-right: 2%;
        width: 95%;
        font-size: 20px;
    }
    
}