
.wrapperMaps{
    background: url(../assets/Maps/bgMaps.png);
    width: 100%;
    height: 120vh;
}

.isiMap {
    font-family: 'Jua';
    display: flex;   
    flex-direction: column; 
    align-items: center;
    margin-bottom: 100px;
}

/* GAMBAR & DESCRIPTION MAPS */

.isiAtas {
    margin-top: 150px;
    /* width: 100vw; */
    display: flex;
    justify-content: center;
}


/* GAMBAR MAPS */
.imgMap {
    max-width: 50vw;
}

.imgMap img {
    max-width: 600px;
}

/* DESCRIPTION MAPS */
.descMap {
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
}

.descMap .descMapBox {
    background-color: #E5F0EA;
    max-width: 34vw;
    padding: 22px 22px 50px 22px;
    border-radius: 27px;
    border: #000 solid 5px;
    border-bottom: #000 solid 12px;
}

.descMapBox h2 {
    margin-bottom: 10px;
    font-size: 27px;

}

.descMapBox p {
    font-family: 'Josefin Slab', serif;
    font-size: 18px;
    text-align: justify;
}

.mapsButton {
    margin-top: 10px;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .mapsButton a {
    font-size: 30px;
    color: white;
    padding: 8px 25px;;
}

.mapsButton a:hover {
    background-color: white;
    color: #386B42;
    padding: 8px 25px;
    border-radius: 100px;
} */


.mapsButton button {
    font-size: 30px;
    color: white;
    padding: 8px 25px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
}

.mapsButton button:hover {
    background-color: white;
    color: #386B42;
    padding: 8px 25px;
    border-radius: 100px;
}

.mapsButton button:focus{
    background-color: white;
    color: #386B42;
    padding: 8px 25px;
    border-radius: 100px;
}

@media only screen and (max-width: 1040px){
    .wrapperMaps{
        height: 50vh;
    }
}